body {
    color: black;
    background: #ffffff;
    font-family: "lucida grande", Calibri, "segoe UI", "lucida sans unicode", "Droid Sans", "DejaVu Sans", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
    margin: 0;
    font-size: 1em;
}

#content {
    color: black;
    background: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    line-height:1.3em;
    text-align: left;
    max-width:660px;
    min-width:240px; 
    position: relative;
}

#header {
    h4 {
        -webkit-margin-before: -0.8em;
        -webkit-margin-after: 1.0em;
    }
}
#title {
    h1 {
        text-align: left;
        margin-bottom: 8px;
        padding: 2px;
        padding-top: 10px;
        border-bottom: 1px solid #CCC;
    }
     i {
        color: #A9A9A9;
        font-size: 0.8em;
    }
}

h2 {
    font-weight: normal;
    margin-bottom: 8px;
    padding: 2px;
    padding-top: 10px;
    border-bottom: 1px solid #CCC;
}

a {
    text-decoration: none;
}

a,a:visited {
    color: #4183c4;
    background: inherit;
}

a:hover {
    text-decoration: underline;
}

#footer {
    font-size: 80%;
    border-top: 1px solid #CCC;
}

.footer-left {
    text-align: left;
    float: left;
    width: 49%;
}

.footer-right {
    display: block;
    text-align: right;
    float: right;
    width: 49%;
}

img {
    border-width: 0px;
}

.center {
    text-align: center;
}

.big {
    font-size: larger;
}

.small {
    font-size: small;
}

pre {
    font:0.85em Monaco, Consolas, 'Lucida Console', "Droid Sans Mono", "DejaVu Sans Mono", Courier, monospace;
    width:auto;
    overflow:auto;
    background-color:#eee;
    color:inherit;
    border:1px solid #999;
    line-height:1.3em;
    padding:1.2ex;
}


code {
    font: 0.97em Monaco, Consolas, 'Lucida Console', "Droid Sans Mono", "DejaVu Sans Mono", Courier, monospace;
}

fieldset {
    border: 1px dotted #bedce7;
    padding: 10px 15px;
    color: inherit;
}


h1 a {
    text-decoration: none;
}

#form {
    padding-bottom: 15px;
    &.extract {
        max-width: 430px;
        margin: 0 auto;
        .key {
            float: right;
            display: table-column;
            width: 100%;
            .extract-field {
                float: right;
                width: 59%;
            }
            .extract-field-label {
                text-align: right;
                width: 165px;
                margin-right: 5px;
            }
        }
        .checkboxs input{
            margin: 0;
        }
        .radio {
            padding-left: 40%;
        }
        label {
            margin-bottom: 3px;
            display: inline-block;
            &.checkbox, &.key {
                width: 165px;
                margin: 5px;
            }
            &.checkbox, input {
                text-align: right;
            }
            &.extract-field-label {
                &.fingerprint, &.hash {
                    text-align: right;
                    width: 165px;
                    margin-right: 5px;
                }
            }
        }
        div.buttons {
            float: right;
        }
    }
    &.submit {
        width: 80%;
        textarea {
            margin-bottom: 5px;
            width: 100%;
            padding: 0px;
        }
        input {
            float: right;
            margin-right: 5px;
        }
    }
}

#menu {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    font-size: 0.9em;
    margin: 5px 0 20px 0;
    padding-left: 5px;
    line-height: 1.5em;
    a {
        font-weight: bold;
    }
}

#menu-sub {
    border-bottom: 1px solid #CCC;
    font-size: 0.9em;
    margin: -20px 0 20px 0;
    padding: 5px 10px;
    line-height: 1.5em;
    background-color: #CCC;
    color: #FFF;
    a {
        font-weight: bold;
    }
}

#news {
    ul {
        -webkit-padding-start: 0px;
    }
    li {
        list-style-type: none;
    }
    h2 {
        padding: 0px;
        border-bottom: none;
    }
}

@media (max-width: 700px) {
    #form {
        &.submit {
            width: 99%;
        }
    }
}

@media (max-width: 500px) {
    #form {
        &.extract {
            .key {
                .extract-field {
                    width: 100%;
                }
                .extract-field-label {
                    text-align: left;
               }
            }
            .radio {
                padding-left: 0px;
            }
        }
    }
}
