---
layout: default
---

<p>This server hosts and relays <a href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy">pgp</a> public keys via the <a href="https://sks-keyservers.net/overview-of-pools.php" target="_blank">sks-keyserver pool</a>.  You may connect to this network by adding <strong>pool.sks-keyservers.net</strong> to the keyserver option in your pgp client software.</p>

<h2>Extract a key from the pool</h2>

<p>You can extract a key by typing in some words that appear in the user id of the key you are looking for, or by typing in the keyid in hex format (“0x…”)</p>

{% include form-extract.html %}

<h2>Submit a key to the pool</h2>

<p>Enter your ASCII-armored PGP key here:</p>

{% include form-submit.html %}

<h2>About this service</h2>
<p>This web page is provided as a convenient alternative to the usual methods of interacting with the keyserver. Key submission and retrieval are usually handled by key management software (such as <a href="http://www.gnupg.org/" target="_blank">GnuPG</a>) on your local system.</p>

<p>This keyserver supports both the traditional email interface <a href="http://pks.sourceforge.net/" target="_blank">pks</a> (for key submission only), and the more common <a href="http://tools.ietf.org/html/draft-shaw-openpgp-hkp-00" target="_blank">hkp</a> interface, for interaction with PGP key management software.</p>

<ul>
    <li>Learn more about <a href="https://bitbucket.org/skskeyserver/sks-keyserver/wiki/Home#!overview" target="_blank">SKS Keyservers</a></li>
    <li>Check the status of the <a href="https://sks-keyservers.net/status/" target="_blank">SKS Keyserver Network</a></li>
    <li>Check the status of <a href="{{ site.url }}/pks/lookup?op=stats" target="_blank">this keyserver</a></li>
</ul>

