---
layout: default
title: OpenPGP Public Key Server
---

This server hosts and relays <a href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP</a> keys via the <a href="https://sks-keyservers.net/overview-of-pools.php">SKS pool</a> network.  You may connect to this network by sending or receiving keys to <strong>pool.sks-keyserver.net</strong> (<a href="http://tools.ietf.org/html/draft-shaw-openpgp-hkp-00">hkp</a>).

<h2>Extract a key from the pool</h2>

{% include form-extract.html %}

<h2>Submit a key to the pool</h2>

{% include form-insert.html %}

<br />
