<div class="col-md-5">
    <h3>Contact Information</h3>
    <p>This site is maintained by Matt Rude (<a href="//{{ site.url }}/k/0xc4909ee495b0761f">0xc4909ee495b0761f</a>). If you would like to report any problems or bugs, please send a email or XMPP messsage to the email address listed in one of my public keys.</p>
    <p>If you are thankful for this service, please consider donating some funds to the cause. My bitcoin address is <code class="highlighter-rouge">1211xFABAc7W4QELfaGFvEqzUhVF2zbm33</code>.</p>
</div>

<div class="col-md-7 pull-right">
    <h3 id="my-public-pgp-key-information">My Public PGP Key Information</h3>
    <p><strong>My Default RSA Key:</strong></p>
    <div class="highlighter-rouge"><pre class="highlight"><code>uid = Matt Rude
pub = rsa2048/95B0761F 2015-03-02
sub = rsa2048/BC158061 2015-03-02
fingerprint = 71FD 20E3 2815 8C32 2133  FBBE C490 9EE4 95B0 761F</code></pre></div>
    <p><strong>My Elliptic Curve Cryptography (ECC) Key:</strong></p>
    <div class="highlighter-rouge"><pre class="highlight"><code>uid = Matt Rude
pub = nistp256/03305F35 2015-02-15
fingerprint = 77F1 D65B 5FF0 54DC 9286  6078 0314 CD85 0330 5F35</code></pre></div>
    <p>Or, you may validate my keys using one of my <a href="//{{ site.url }}/guides/dns-dane-cert-records/">DANE</a> or <a href="//{{ site.url }}/guides/public-key-association/">PKA</a> DNS records.</p></div>
</div>

<h3 id="signed-contact-information">Signed Contact Information</h3>

<p>A signed copy of this infromation may be found <a href="//{{ site.url }}/contact.txt">here</a>, or using my <a href="//{{ site.url }}/k/0x0314CD8503305F35">ECC key</a>, may be found <a href="//{{ site.url }}/contact-ecc.txt">here</a>. You may validate these files by running the below commands:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>curl -s https://keyserver.mattrude.com/contact.txt |gpg --keyserver-options auto-key-retrieve --auto-key-locate pka --verify
curl -s https://keyserver.mattrude.com/contact-ecc.txt |gpg --keyserver-options auto-key-retrieve --auto-key-locate pka --verify
</code></pre>
</div>

<p>You may also see my profile on <a href="https://keybase.io/mattrude">keybase.io/mattrude</a>.</p>
