<h2 id="how-to-extract-a-key">How-to extract a key</h2>


<div class="col-md-8">
            <form action="/pks/lookup" method="get" class="form" role="form">
              <div class="control-group">
                <div class="controls" style="max-width:30em; margin:0 auto;">
                  <input name="search" class="form-control" type="text" placeholder="Search for an OpenPGP Public Key, ie 0x..." style="font-size: 1.5em; line-height: 1.5em; height: 2em;" required />
                </div>
              </div>
              <div class="control-group text-center" style="margin-top: 0.5em;">
                <div class="controls">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                    Search Key
                  </button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    Submit Key
                  </button>
                </div>
              </div>
                <div class="control-group col-md-6 col-md-offset-1">
                  <div class="controls">
                    Index Options:
                    <label class="checkbox" for="fingerprint">
                      <input id="fingerprint" type="checkbox" name="fingerprint" checked="checked" />
                      Show OpenPGP fingerprints
                    </label>
                    <label class="checkbox" for="hash">
                      <input id="hash" type="checkbox" name="hash" />
                      Show full-key hashes
                    </label>
                    <label class="checkbox" for="exact">
                      <input id="exact" type="checkbox" name="exact" value="on" />
                      Only return exact matches
                    </label>
                    <label class="checkbox" for="mr">
                      <input id="mr" type="checkbox" name="options" value="mr" />
                      Machine readable
                    </label>
                  </div>
                </div>
                <div class="control-group col-md-offset-6">
                  <div class="controls">
                    Index type:
                    <label class="radio" for="radios-0">
                      <input name="op" id="radios-0" value="index" type="radio">
                      Get regular index of matching keys
                    </label>
                    <label class="radio" for="radios-1">
                      <input name="op" id="radios-1" value="vindex" checked="checked" type="radio">
                      Get <strong>verbose</strong> index of matching keys
                    </label>
                    <label class="radio" for="radios-2">
                      <input name="op" id="radios-2" value="get" type="radio">
                      retrieve ascii-armored keys
                    </label>
                    <label class="radio" for="radios-3">
                      <input name="op" id="radios-3" value="hget" type="radio">
                      retrieve keys by full-key hash
                    </label>
                  </div>
              </div>
            </form>
</div>


<div class="alert alert-warning col-md-offset-8" role="alert">
  <ol>
    <li>Type the text you want to search for in the <strong>Search String</strong> box. If you want to look up a key by its hexadecimal KeyID, you have to prefix the ID with 0x</li>
    <li>Select either the <strong>Index</strong> or <strong>Verbose Index</strong> check box. The <strong>Verbose</strong> option will display signatures on keys.</li>
    <li>Press the <strong>Submit</strong> button.</li>
  </ol>
</div>

<div class="alert alert-info col-md-12" role="alert">
<p>The server will return a list of keys matching the search text. The page will have links for every KeyID, and every bracket-delimited identifier (i.e. &lt;user@example.com&gt;). Clicking on the hypertext link will display an ASCII-armored version of the public key.</p>
</div>

<div class="col-md-12">
<h2 id="extraction-caveats">Extraction caveats</h2>
<p>The search engine is not the same as that used by the pgp program. It will return information for all keys which contain all the words in the search string. A “word” in this context is a string of consecutive alphabetic characters. For example, in the string user@example.com, the words are <strong>user</strong>, <strong>example</strong>, and <strong>com</strong>.</p>

<p>This means that some keys you might not expect will be returned. If there was a key in the database for Marc Edu <mit.foo.com>, this would be returned for by the above query. If you do not want to see all these extra matches, you can select "Only return exact matches", and only keys containing the specified search string will be returned.</mit.foo.com></p>

<p>This algorithm does not match partial words in any case. So, if you are used to specifying only part of a long name, this will no longer work.</p>

<p>Currently, hypertext links are only generated for the KeyID and for text found between matching brackets. (It is a common convention to put your e-mail address inside brackets somewhere in the key ID string.)</p>
</div>
