                {% if page.path contains 'doc' %}
                    <div id="modifydate" style="font-size:0.8em;text-align:right"><p>Modified: {{ page.last_modified_at | date: '%d-%b-%Y'}}</p></div>
                {% endif %}
		<!-- Starting Footer Section -->
		<div id="footer">
			<div class="footer-left">
				<p><a href='/'>Home</a> | <a href='http://gh.mattrude.com/' target='_blank'>Github Project List</a> | <a href='https://github.com/mattrude/pgpkeyserver#readme' target='_blank'>Source</a> | <a href='https://github.com/mattrude/pgpkeyserver/issues' target='_blank'>Issues</a> | <a href='/contact/'>Contact</a></p>
			</div>
			<div class="footer-right">
				<p>Copyright &copy; {{ site.time | date: "%Y" }} by <a href='http://mattrude.com' target='_blank'>Matt Rude</a> | <a href='http://creativecommons.org/licenses/by-sa/4.0/' target='_blank'>license</a></p>
			</div>
		</div>
	</div>
</div>
{% include analytics.html %}
</body>
</html>
