		<!-- Starting Footer Section -->
		<div id="footer">
			<div class="footer-left">
				<p><a href='/'>Home</a> | <a href='http://gh.mattrude.com/'>Github Project List</a> | <a href='https://github.com/mattrude/pgpkeyserver'>Source</a> | <a href='https://github.com/mattrude/pgpkeyserver/issues'>Issues</a></p>
			</div>
			<div class="footer-right">
				<p>Copyright &copy; 2013 &mdash; {{ site.time | date: "%Y" }} by <a href='http://mattrude.com'>Matt Rude</a></p>
			</div>
		</div>
	</div>
</div>
{% include analytics.html %}
</body>
</html>
