<p>You can extract a key by typing in some words that appear in the user id of the key you are looking for, or by typing in the keyid in hex format (“0x…”)</p>
<table cellpadding=5 cellspacing=0>
<tr>
<td>
<form action="{{ site.url }}/pks/add" method="post">
<tr>
<td>
<textarea name="keytext" rows="15" cols="75"></textarea>
</td>
</tr>
<tr>
<td align=right>
<input type="reset" value="Reset">
<input type="submit" value="Submit this key to the keyserver.">
</td>
</tr>
</form>
</td>
</tr>
</table>
