<h2 id="internal-guides">Internal Guides</h2>

<ul>
  <li><a href="{{ site.url }}/guides/public-key-association/">Publish A Public PGP Key via DNS: Public Key Association</a></li>
  <li><a href="{{ site.url }}/guides/dns-dane-cert-records/">Publish A Public PGP Key via DNS: DANE Cert Records</a></li>
  <li><a href="{{ site.url }}/guides/web-key-directory/">Publish A Public PGP Key via HTTPS: Web Key Directory (WKD)</a></li>
  <li><a href="{{ site.url }}/guides/dump-process/">SKS Key Server Dump Process</a></li>
  <li><a href="{{ site.url }}/guides/building-server/">How to build a SKS Keyserver</a></li>
  <li><a href="{{ site.url }}/guides/systemd-services/">Adding systemd services on a SKS-Keyserver</a></li>
  <li><a href="{{ site.url }}/guides/build-gnupg2/">Build GnuPG 2.1 “modern” on Ubuntu</a></li>
  <li><a href="{{ site.url }}/guides/one-time-pad/">A Practical Uses for a One-Time Pad</a></li>
</ul>

<h2 id="external-guides">External Guides</h2>

<h3 id="what-is-pgp-and-why-should-i-use-it">What is PGP and why should I use it?</h3>

<ul>
  <li><a href="https://whyencryptemail.net/" target="_blank">It’s not you, it’s me: Why and how to encrypt email you send</a></li>
</ul>

<h3 id="installed-pgp-client-software">Installed PGP Client Software</h3>

<ul>
  <li><a href="http://www.enigmail.net" target="_blank">EnigMail Project</a> client for <a href="https://www.mozilla.org/thunderbird/" target="_blank">Thunderbird</a> (Windows/Mac)</li>
  <li><a href="https://gpgtools.org/" target="_blank">PGP Tools</a> client for Apple Mail</li>
  <li><a href="https://github.com/dejavusecurity/OutlookPrivacyPlugin" target="_blank">Outlook Privacy Plugin</a> client for Microsoft Outlook 2010 &amp; 2013</li>
</ul>

<h3 id="webmail-pgp-clients">Webmail PGP Clients</h3>

<ul>
  <li><a href="https://www.mailvelope.com/en" target="_blank">Mailvelope</a> an extension for Chrome and Firefox webmail clients.</li>
  <li><a href="https://github.com/google/end-to-end" target="_blank">Google: end-to-end</a> a chrome webmail PGP extension (my build of <a href="https://chrome.google.com/webstore/detail/end-to-end/knnhngcdkplmpmlendkfgjlgnemecpdh" target="_blank">End-To-End</a> on the Chrome web store)</li>
</ul>

</div>
