    <div id="menu">
        <a href="{{ site.url }}">Home</a> |
        <a href="{{ site.url }}/about">About</a> | 
        <a href="{{ site.url }}/contact">Contact me</a> | 
        <a href="{{ site.url }}/doc/extracting">Extracting keys</a> |
        <a href="{{ site.url }}/doc/submitting">Submitting keys</a> |
        <a href="{{ site.url }}/doc/faq">FAQ</a> | 
        <a href="{{ site.url }}/guides">How-To</a> | 
        {% for post in site.posts limit: 1 %}
            <a href="{{ site.url }}/news">News</a> |
        {% endfor %}
        <a href="{{ site.url }}/dump" target="_blank">DB Dumps</a> | 
        <a href="{{ site.url }}/stats" target="_blank">Statistics</a>
    </div>
    {% if page.url contains 'guides' %}
    <div id="menu-sub">
        <strong>Guides:</strong>
        <a href="{{ site.url }}/guides/">Index</a> |
        <a href="{{ site.url }}/guides/public-key-association/">Public Key Association</a> |
        <a href="{{ site.url }}/guides/dump-process/">SKS Key Server Dump Process</a> |
        <a href="{{ site.url }}/guides/building-server/">Building a SKS Keyserver</a>
    </div>
    {% endif %}
