    <div id="menu">
        <!--<b>Help:</b>-->
        <a href="/">Home</a> |
        <a href="/doc/extracting">Extracting keys</a> |
        <a href="/doc/submitting">Submitting keys</a> |
        <a href="/doc/faq">FAQ</a> |
        <a href="/doc/building-server">Building A Server</a> |
        <a href="/dump">DB Dumps</a> |
        <a href="/stats">Statistics</a> |
        {% for post in site.posts limit: 1 %}
            <a href="/news">News</a> |
        {% endfor %}
        <a href="/doc/about">About</a>
    </div>
