    <div id="menu">
        <a href="{{ site.url }}">Home</a> |
        <a href="/about/">About</a> | 
        <a href="/contact/">Contact</a> | 
        <a href="/doc/extracting/">Extracting keys</a> |
        <a href="/doc/submitting/">Submitting keys</a> |
        <a href="/doc/faq/">FAQ</a> | 
        <a href="/guides/">How-To</a> | 
        {% for post in site.posts limit: 1 %}
            <a href="/news/">News</a> |
        {% endfor %}
        <a href="/dump/" target="_blank">DB Dumps</a> | 
        <a href="/status/">Statistics</a>
    </div>
    {% if page.url contains 'guides' %}
    <div id="menu-sub/">
        <strong>Guides:</strong>
        <a href="/guides/">Index</a> |
        <a href="/guides/public-key-association/">Public Key Association</a> |
        <a href="/guides/dump-process/">Keyserver Dump Process</a> |
        <a href="/guides/building-server/">Building a SKS Keyserver</a> | 
        <a href="/guides/build-gnupg2/">Build GnuPG 2.1.2</a>
    </div>
    {% endif %}
