<p class="lead">Submitting a public key allows other people to find and download the public key.</p>
<div class="col-md-4">
  <h2 id="how-to-submit-a-key">How-to submit a key</h2>
  <ol>
    <li>Cut-and-paste an ASCII-armored version of your public key into the text box.</li>
    <li>Press <strong>Submit Public Key</strong>.</li>
  </ol>
  <p>That is it! The keyserver will process your request immediately. If you like, you can check that your key exists using the <a href="//{{ site.url }}/#extracting">extract</a> procedure.</p>
</div>

<div class="col-md-8">
  <h2 id="submit-a-key-to-the-pool">Submit a key to the pool</h2>
  <p>Enter ASCII-armored PGP key here:</p>
  <div id="form" class="submit">
    <form action="//{{ site.url }}/pks/add" method="post">
        <textarea name="keytext" rows="15" style="width: 100%;font-family:Courier;font-size:12px;"></textarea>
        <div class="pull-right">
            <button type="reset" class="btn btn-default">reset</button>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                Submit Public Key
            </button>
        </div>
    </form>
  </div>
</div>
</div>
<br>
<div class="alert alert-warning" role="alert">
<p><b>Notice:</b> When you submit a key to this server, either via that web interface or via HKP, that key will be migrated around the pool to the different servers in the pool. That key will then be stored on each of those servers in addition to this server.  Due to the transferring of keys between servers not managed by a central hosts, deleting a key is not possible at this time.  If a key were deleted from this server, other servers in the pool will restore the key in order to maintain a complete collection.  This is the servers intended behavior.</p>
</div>
