body {
    max-width: 1160px;
}

h2 {
    small {
        font-size:100%;
    }
}

#footer {
    font-size: 80%;
    border-top: 1px solid #CCC;
    .container {
        padding: 10px 0 10px 0;
    }
    p {
        margin:0;
    }
}

.footer-left {
    text-align: left;
    float: left;
    width: 49%;
}

.footer-right {
    display: block;
    text-align: right;
    float: right;
    width: 49%;
}
h2,h3,h4,h5,h6 {
    padding-top: 50px;
}
.page-toc ul {
    padding-inline-start: 20px;
}
